/* MY CSS */
/*CORES*/


/*END CORES*/
.my-nav{
	position: fixed;
}

.my-content{
	width: 100%;
}

.my-link-header li a{
	padding-left: 16px;
}
.my-link-header li a i{
	font-size: 1.6em;
}

.profile{
	padding-top: 60px;
}

.my-title{
	
}
/* END MY CSS */

/* MOBILE | DESKTOP */
main, footer{
	padding-left: 300px;
}
@media only screen and (max-width : 992px) {
	main, footer{
	  padding-left: 0;
	}
}
/* END MOBILE | DESKTOP */

/* FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/*END FOOTER*/
/*MIDIA*/
.content-play-list{
	height: 25.15em;
}
.play-list-body{
	height: 18em;
	overflow:auto;
}
.play-list .collection{
	border: none;
}
/*END MIDIA*/
